In [1]:
import pandas as pd
import numpy as np

In [2]:
!ls "../../../Tableau/Mobike Data"

MOBIKE 样本数据说明(data_description).pdf
mobike_shanghai_sample_updated.csv

In [4]:
mob = pd.read_csv('../../../Tableau/Mobike Data/mobike_shanghai_sample_updated.csv')

In [6]:
mob.head()

,orderid,bikeid,userid,start_time,start_location_x,start_location_y,end_time,end_location_x,end_location_y,track
0,78387,158357,10080,2016-08-20 06:57,121.348,31.389,2016-08-20 07:04,121.357,31.388,"121.347,31.392#121.348,31.389#121.349,31.390#1..."
1,891333,92776,6605,2016-08-29 19:09,121.508,31.279,2016-08-29 19:31,121.489,31.271,"121.489,31.270#121.489,31.271#121.490,31.270#1..."
2,1106623,152045,8876,2016-08-13 16:17,121.383,31.254,2016-08-13 16:36,121.405,31.248,"121.381,31.251#121.382,31.251#121.382,31.252#1..."
3,1389484,196259,10648,2016-08-23 21:34,121.484,31.320,2016-08-23 21:43,121.471,31.325,"121.471,31.325#121.472,31.325#121.473,31.324#1..."
4,188537,78208,11735,2016-08-16 07:32,121.407,31.292,2016-08-16 07:41,121.418,31.288,"121.407,31.291#121.407,31.292#121.408,31.291#1..."

In [7]:
mob.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102361 entries, 0 to 102360
Data columns (total 10 columns):
orderid             102361 non-null int64
bikeid              102361 non-null int64
userid              102361 non-null int64
start_time          102361 non-null object
start_location_x    102361 non-null float64
start_location_y    102361 non-null float64
end_time            102361 non-null object
end_location_x      102361 non-null float64
end_location_y      102361 non-null float64
track               102361 non-null object
dtypes: float64(4), int64(3), object(3)
memory usage: 7.8+ MB

In [66]:
mob_clean = mob

In [67]:
len(mob_clean.bikeid.unique())

79062

In [68]:
len(mob_clean.userid.unique())

16887

In [69]:
len(mob_clean.orderid.unique())

102361

In [70]:
## every bike ride frequency// very low ride freq for bike

mob_clean.bikeid.count() / len(mob_clean.bikeid.unique())

1.2946927727606183

In [71]:
mob_clean['ride_duration'] = (pd.to_datetime(mob['end_time']) - 
                              pd.to_datetime(mob['start_time'])).dt.total_seconds()

In [72]:
#mob_clean.drop('ride Duration', axis=1)

In [73]:
mob_clean.sample(5)

,orderid,bikeid,userid,start_time,start_location_x,start_location_y,end_time,end_location_x,end_location_y,track,ride_duration,ride_distance,speed
72502,644371,26200,10985,2016-08-10 19:43,121.460,31.207,2016-08-10 19:55,121.452,31.217,"121.457,31.208#121.457,31.209#121.457,31.210#1...",720.0,1347.311777,6.736559
22975,1631913,154877,6602,2016-08-06 20:31,121.405,31.251,2016-08-06 21:15,121.403,31.258,"121.403,31.257#121.404,31.258#121.405,31.250#1...",2640.0,801.245817,1.092608
68808,21149,77850,16155,2016-08-27 02:33,121.405,31.291,2016-08-27 02:51,121.385,31.275,"121.384,31.275#121.384,31.276#121.385,31.275#1...",1080.0,2603.351571,8.677839
12464,503822,214189,5433,2016-08-17 08:14,121.398,31.309,2016-08-17 08:21,121.408,31.314,"121.398,31.308#121.398,31.309#121.398,31.310#1...",420.0,1100.729624,9.434825
81664,701590,86193,8887,2016-08-11 15:18,121.403,31.196,2016-08-11 15:29,121.401,31.183,"121.398,31.197#121.399,31.197#121.399,31.198#1...",660.0,1457.999316,7.952724

In [74]:
## calculate ride distance in map

In [75]:
from numpy import radians, cos, sin, arcsin, sqrt  
  
def haversine(lon1, lat1, lon2, lat2): # 经度1，纬度1，经度2，纬度2 （十进制度数）  
    """ 
    Calculate the great circle distance between two points  
    on the earth (specified in decimal degrees) 
    """  
    # 将十进制度数转化为弧度  
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])  
  
    # haversine公式  
    dlon = lon2 - lon1   
    dlat = lat2 - lat1   
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2  
    c = 2 * arcsin(sqrt(a))   
    r = 6371 # 地球平均半径，单位为公里  
    return c * r * 1000

In [76]:
mob_clean['ride_distance'] = haversine(mob_clean.end_location_x.astype(float), mob_clean.end_location_y.astype(float), 
                                       mob_clean.start_location_x.astype(float), mob_clean.start_location_y.astype(float))

In [77]:
mob_clean.sample()

,orderid,bikeid,userid,start_time,start_location_x,start_location_y,end_time,end_location_x,end_location_y,track,ride_duration,ride_distance,speed
75974,378553,14718,15094,2016-08-20 13:24,121.455,31.204,2016-08-20 13:34,121.451,31.199,"121.449,31.201#121.449,31.202#121.450,31.199#1...",600.0,673.679738,4.042078

In [78]:
mob_clean['ride_distance'].sum() / mob_clean['ride_distance'].count()

1564.8181552998278

In [79]:
mob_clean['ride_distance'].value_counts()

909.640240     35
731.263730     32
894.616095     29
934.084592     28
673.436454     28
383.896369     27
723.092481     26
866.810209     25
624.770181     25
784.145219     25
796.258587     25
1051.096612    25
1011.308334    23
1005.252743    23
1209.122240    23
866.216277     22
731.208037     22
624.872236     20
917.685612     19
673.904865     19
911.797745     18
917.710987     18
673.397749     18
1135.639709    18
768.010627     18
1056.629980    18
528.337823     18
796.093910     17
1068.319151    17
624.759139     17
               ..
1608.794616     1
2728.867648     1
1874.401610     1
1312.231080     1
292.376296      1
2274.215215     1
5915.807503     1
4033.100160     1
346.839241      1
2110.553233     1
3626.565009     1
3627.549172     1
1584.487886     1
1008.656522     1
1608.945900     1
3696.009035     1
3264.502782     1
1347.819105     1
1881.633605     1
2750.435937     1
1695.902078     1
4332.327569     1
2365.828373     1
2457.184666     1
3518.580622     1
1899.836195     1
877.372952      1
934.144579      1
792.112445      1
3601.056038     1
Name: ride_distance, Length: 65347, dtype: int64

In [80]:
mob_clean['ride_distance'].max()

95422.239134343763

In [81]:
mob_clean['ride_distance'].min()

146.18453661714719

In [82]:
mob_clean.nlargest(10, ['ride_distance'])

,orderid,bikeid,userid,start_time,start_location_x,start_location_y,end_time,end_location_x,end_location_y,track,ride_duration,ride_distance,speed
79854,717149,293101,1848,2016-08-29 16:54,121.479,31.337,2016-08-30 11:29,120.487,31.477,"121.459,31.325#121.459,31.326#121.460,31.325#1...",66900.0,95422.239134,5.134829
16463,1272182,56406,2189,2016-08-27 17:41,121.432,31.250,2016-08-27 18:26,120.487,31.477,"121.420,31.299#121.420,31.300#121.421,31.298#1...",2700.0,93207.714416,124.276953
97282,147841,213581,14958,2016-08-29 08:16,121.430,31.361,2016-08-29 08:42,120.486,31.477,"121.428,31.360#121.429,31.360#121.430,31.361#1...",1560.0,90500.981225,208.848418
20417,471807,12256,2960,2016-08-04 09:20,121.362,31.258,2016-08-04 09:31,120.487,31.477,"121.357,31.242#121.357,31.243#121.358,31.243#1...",660.0,86570.665199,472.203628
63346,1618308,93387,6254,2016-08-06 19:41,121.500,31.383,2016-08-06 23:40,121.391,31.106,"121.456,31.361#121.456,31.362#121.456,31.363#1...",14340.0,32497.369906,8.158336
29113,1165936,116071,3662,2016-08-29 22:54,121.469,31.243,2016-08-30 00:45,121.413,31.425,"121.413,31.424#121.413,31.425#121.414,31.422#1...",6660.0,20924.727497,11.310664
23351,1205968,98833,7891,2016-08-23 09:55,121.398,31.169,2016-08-23 12:08,121.537,31.295,"121.397,31.170#121.398,31.170#121.399,31.170#1...",7980.0,19260.358179,8.688883
39305,1739280,296928,14455,2016-08-26 17:18,121.499,31.119,2016-08-26 21:55,121.679,31.196,"121.499,31.118#121.500,31.119#121.671,31.196#1...",16620.0,19148.681052,4.147729
99603,1504734,240270,705,2016-08-16 20:01,121.499,31.080,2016-08-16 23:17,121.446,30.914,"121.445,30.914#121.446,30.914",11760.0,19137.160402,5.858314
67092,1069398,162973,10828,2016-08-08 18:03,121.494,31.224,2016-08-08 20:01,121.503,31.394,"121.485,31.303#121.485,31.304#121.485,31.305#1...",7080.0,18922.464677,9.621592

In [83]:
## speed
mob_clean['speed'] = (mob_clean['ride_distance']/1000)  /  (mob_clean['ride_duration'] / 3600)

In [84]:
mob_clean.nlargest(10, ['speed'])

,orderid,bikeid,userid,start_time,start_location_x,start_location_y,end_time,end_location_x,end_location_y,track,ride_duration,ride_distance,speed
20417,471807,12256,2960,2016-08-04 09:20,121.362,31.258,2016-08-04 09:31,120.487,31.477,"121.357,31.242#121.357,31.243#121.358,31.243#1...",660.0,86570.665199,472.203628
97282,147841,213581,14958,2016-08-29 08:16,121.430,31.361,2016-08-29 08:42,120.486,31.477,"121.428,31.360#121.429,31.360#121.430,31.361#1...",1560.0,90500.981225,208.848418
16463,1272182,56406,2189,2016-08-27 17:41,121.432,31.250,2016-08-27 18:26,120.487,31.477,"121.420,31.299#121.420,31.300#121.421,31.298#1...",2700.0,93207.714416,124.276953
21201,399670,110519,2389,2016-08-10 16:14,121.449,31.304,2016-08-10 16:23,121.514,31.307,"121.445,31.322#121.446,31.320#121.446,31.321#1...",540.0,6184.389389,41.229263
37535,764490,126016,3066,2016-08-30 09:41,121.451,31.158,2016-08-30 09:43,121.438,31.155,"121.438,31.155#121.439,31.155#121.439,31.156#1...",120.0,1281.215413,38.436462
45978,575984,106162,13781,2016-08-21 10:13,121.494,31.215,2016-08-21 10:21,121.455,31.236,"121.458,31.228#121.459,31.226#121.459,31.227#1...",480.0,4382.316846,32.867376
36216,1071255,9133,6926,2016-08-15 18:04,121.373,31.210,2016-08-15 18:05,121.369,31.207,"121.369,31.208#121.370,31.208#121.371,31.208#1...",60.0,505.958478,30.357509
66719,1074356,181135,12018,2016-08-23 14:34,121.520,31.296,2016-08-23 14:35,121.518,31.292,"121.519,31.295#121.520,31.294#121.520,31.295#1...",60.0,483.675838,29.020550
47925,1108131,51231,5809,2016-08-15 18:15,121.440,31.294,2016-08-15 18:18,121.454,31.289,"121.450,31.289#121.450,31.290#121.451,31.289#1...",180.0,1441.788733,28.835775
31220,972182,113504,7876,2016-08-12 07:05,121.444,31.180,2016-08-12 07:06,121.443,31.184,"121.443,31.182#121.443,31.183#121.443,31.184#1...",60.0,454.839261,27.290356

In [85]:
## mobile speed not easy over 20km/h, should be removed
len(mob_clean[mob_clean.speed > 20])

42

In [86]:
## but, we should be remove time less < 2m

len(mob_clean[mob_clean.ride_duration < 120])

130

In [87]:
## distance should use more than 500m
len(mob_clean[mob_clean.ride_distance <= 500])

11547

In [88]:
mob_clean2 = mob_clean[mob_clean.ride_distance > 500]

In [89]:
mob_clean2 = mob_clean2[mob_clean2.ride_duration > 120]

In [90]:
mob_clean2 = mob_clean2[mob_clean2.speed < 20]

In [91]:
len(mob_clean2)

90792

In [92]:
mob_clean2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90792 entries, 0 to 102360
Data columns (total 13 columns):
orderid             90792 non-null int64
bikeid              90792 non-null int64
userid              90792 non-null int64
start_time          90792 non-null object
start_location_x    90792 non-null float64
start_location_y    90792 non-null float64
end_time            90792 non-null object
end_location_x      90792 non-null float64
end_location_y      90792 non-null float64
track               90792 non-null object
ride_duration       90792 non-null float64
ride_distance       90792 non-null float64
speed               90792 non-null float64
dtypes: float64(7), int64(3), object(3)
memory usage: 9.7+ MB

In [93]:
## Don't know how to use seperate map data, remove first

#mob_clean2.drop('track', axis=1)

In [94]:
mob_clean2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90792 entries, 0 to 102360
Data columns (total 13 columns):
orderid             90792 non-null int64
bikeid              90792 non-null int64
userid              90792 non-null int64
start_time          90792 non-null object
start_location_x    90792 non-null float64
start_location_y    90792 non-null float64
end_time            90792 non-null object
end_location_x      90792 non-null float64
end_location_y      90792 non-null float64
track               90792 non-null object
ride_duration       90792 non-null float64
ride_distance       90792 non-null float64
speed               90792 non-null float64
dtypes: float64(7), int64(3), object(3)
memory usage: 9.7+ MB

In [95]:
## Save data

mob_clean2.to_csv('../../../Tableau/mobike_clean.csv', index=False)