In [1]:
import pandas as pd
import numpy as np

In [2]:
!ls "../../../Tableau/Mobike Data"

MOBIKE 样本数据说明(data_description).pdf
mobike_shanghai_sample_updated.csv

In [4]:
mob = pd.read_csv('../../../Tableau/Mobike Data/mobike_shanghai_sample_updated.csv')

In [5]:
mob.head()

,orderid,bikeid,userid,start_time,start_location_x,start_location_y,end_time,end_location_x,end_location_y,track
0,78387,158357,10080,2016-08-20 06:57,121.348,31.389,2016-08-20 07:04,121.357,31.388,"121.347,31.392#121.348,31.389#121.349,31.390#1..."
1,891333,92776,6605,2016-08-29 19:09,121.508,31.279,2016-08-29 19:31,121.489,31.271,"121.489,31.270#121.489,31.271#121.490,31.270#1..."
2,1106623,152045,8876,2016-08-13 16:17,121.383,31.254,2016-08-13 16:36,121.405,31.248,"121.381,31.251#121.382,31.251#121.382,31.252#1..."
3,1389484,196259,10648,2016-08-23 21:34,121.484,31.320,2016-08-23 21:43,121.471,31.325,"121.471,31.325#121.472,31.325#121.473,31.324#1..."
4,188537,78208,11735,2016-08-16 07:32,121.407,31.292,2016-08-16 07:41,121.418,31.288,"121.407,31.291#121.407,31.292#121.408,31.291#1..."

In [6]:
mob.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102361 entries, 0 to 102360
Data columns (total 10 columns):
orderid             102361 non-null int64
bikeid              102361 non-null int64
userid              102361 non-null int64
start_time          102361 non-null object
start_location_x    102361 non-null float64
start_location_y    102361 non-null float64
end_time            102361 non-null object
end_location_x      102361 non-null float64
end_location_y      102361 non-null float64
track               102361 non-null object
dtypes: float64(4), int64(3), object(3)
memory usage: 7.8+ MB

In [7]:
mob_clean = mob

In [8]:
len(mob_clean.bikeid.unique())

79062

In [9]:
len(mob_clean.userid.unique())

16887

In [10]:
len(mob_clean.orderid.unique())

102361

In [11]:
## every bike ride frequency// very low ride freq for bike

mob_clean.bikeid.count() / len(mob_clean.bikeid.unique())

1.2946927727606183

In [12]:
mob_clean['ride_duration'] = (pd.to_datetime(mob['end_time']) - 
                              pd.to_datetime(mob['start_time'])).dt.total_seconds()

In [13]:
#mob_clean.drop('ride Duration', axis=1)

In [14]:
mob_clean.sample(5)

,orderid,bikeid,userid,start_time,start_location_x,start_location_y,end_time,end_location_x,end_location_y,track,ride_duration
101166,117915,71778,4606,2016-08-30 06:36,121.538,31.310,2016-08-30 06:42,121.532,31.314,"121.532,31.311#121.532,31.312#121.532,31.313#1...",360.0
51048,1047695,256802,13280,2016-08-31 12:58,121.510,31.195,2016-08-31 13:03,121.511,31.189,"121.509,31.194#121.510,31.192#121.510,31.193#1...",300.0
1274,1648853,125012,2298,2016-08-06 21:35,121.483,31.236,2016-08-06 22:12,121.425,31.215,"121.425,31.215#121.425,31.216#121.425,31.217#1...",2220.0
43882,439655,181954,3145,2016-08-10 17:08,121.488,31.224,2016-08-10 18:51,121.483,31.219,"121.483,31.213#121.484,31.213#121.484,31.218#1...",6180.0
49764,864036,218948,10784,2016-08-14 14:22,121.446,31.209,2016-08-14 15:29,121.447,31.216,"121.445,31.208#121.445,31.209#121.445,31.213#1...",4020.0

In [15]:
## calculate ride distance in map

In [16]:
from numpy import radians, cos, sin, arcsin, sqrt  
  
def haversine(lon1, lat1, lon2, lat2): # 经度1，纬度1，经度2，纬度2 （十进制度数）  
    """ 
    Calculate the great circle distance between two points  
    on the earth (specified in decimal degrees) 
    """  
    # 将十进制度数转化为弧度  
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])  
  
    # haversine公式  
    dlon = lon2 - lon1   
    dlat = lat2 - lat1   
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2  
    c = 2 * arcsin(sqrt(a))   
    r = 6371 # 地球平均半径，单位为公里  
    return c * r * 1000

In [17]:
mob_clean['ride_distance'] = haversine(mob_clean.end_location_x.astype(float), mob_clean.end_location_y.astype(float), 
                                       mob_clean.start_location_x.astype(float), mob_clean.start_location_y.astype(float))

In [18]:
mob_clean.sample()

,orderid,bikeid,userid,start_time,start_location_x,start_location_y,end_time,end_location_x,end_location_y,track,ride_duration,ride_distance
99759,1552510,371878,1589,2016-08-31 18:15,121.533,31.328,2016-08-31 18:19,121.537,31.33,"121.533,31.328#121.534,31.328#121.535,31.328#1...",240.0,440.230904

In [20]:
mob_clean['ride_distance'].sum() / mob_clean['ride_distance'].count()

1564.8181552998278

In [24]:
mob_clean['ride_distance'].value_counts()

909.640240     35
731.263730     32
894.616095     29
673.436454     28
934.084592     28
383.896369     27
723.092481     26
866.810209     25
784.145219     25
624.770181     25
1051.096612    25
796.258587     25
1209.122240    23
1011.308334    23
1005.252743    23
866.216277     22
731.208037     22
624.872236     20
917.685612     19
673.904865     19
528.337823     18
917.710987     18
1135.639709    18
768.010627     18
1056.629980    18
911.797745     18
673.397749     18
796.093910     17
829.934706     17
796.306229     17
               ..
1256.962058     1
1558.045231     1
1677.147744     1
3073.463080     1
1257.200677     1
1793.631695     1
3332.939903     1
1051.041476     1
1819.405774     1
1281.076759     1
1884.297508     1
767.834883      1
917.753274      1
1008.355594     1
796.894239      1
1256.028337     1
1732.416631     1
4264.931956     1
1883.779247     1
4192.224995     1
1256.157026     1
800.100579      1
1823.824026     1
1868.207960     1
4999.236858     1
1392.577445     1
1755.280487     1
581.031001      1
3279.792350     1
3601.056038     1
Name: ride_distance, Length: 65347, dtype: int64

In [25]:
mob_clean['ride_distance'].max()

95422.239134343763

In [26]:
mob_clean['ride_distance'].min()

146.18453661714719

In [27]:
mob_clean.nlargest(10, ['ride_distance'])

,orderid,bikeid,userid,start_time,start_location_x,start_location_y,end_time,end_location_x,end_location_y,track,ride_duration,ride_distance
79854,717149,293101,1848,2016-08-29 16:54,121.479,31.337,2016-08-30 11:29,120.487,31.477,"121.459,31.325#121.459,31.326#121.460,31.325#1...",66900.0,95422.239134
16463,1272182,56406,2189,2016-08-27 17:41,121.432,31.250,2016-08-27 18:26,120.487,31.477,"121.420,31.299#121.420,31.300#121.421,31.298#1...",2700.0,93207.714416
97282,147841,213581,14958,2016-08-29 08:16,121.430,31.361,2016-08-29 08:42,120.486,31.477,"121.428,31.360#121.429,31.360#121.430,31.361#1...",1560.0,90500.981225
20417,471807,12256,2960,2016-08-04 09:20,121.362,31.258,2016-08-04 09:31,120.487,31.477,"121.357,31.242#121.357,31.243#121.358,31.243#1...",660.0,86570.665199
63346,1618308,93387,6254,2016-08-06 19:41,121.500,31.383,2016-08-06 23:40,121.391,31.106,"121.456,31.361#121.456,31.362#121.456,31.363#1...",14340.0,32497.369906
29113,1165936,116071,3662,2016-08-29 22:54,121.469,31.243,2016-08-30 00:45,121.413,31.425,"121.413,31.424#121.413,31.425#121.414,31.422#1...",6660.0,20924.727497
23351,1205968,98833,7891,2016-08-23 09:55,121.398,31.169,2016-08-23 12:08,121.537,31.295,"121.397,31.170#121.398,31.170#121.399,31.170#1...",7980.0,19260.358179
39305,1739280,296928,14455,2016-08-26 17:18,121.499,31.119,2016-08-26 21:55,121.679,31.196,"121.499,31.118#121.500,31.119#121.671,31.196#1...",16620.0,19148.681052
99603,1504734,240270,705,2016-08-16 20:01,121.499,31.080,2016-08-16 23:17,121.446,30.914,"121.445,30.914#121.446,30.914",11760.0,19137.160402
67092,1069398,162973,10828,2016-08-08 18:03,121.494,31.224,2016-08-08 20:01,121.503,31.394,"121.485,31.303#121.485,31.304#121.485,31.305#1...",7080.0,18922.464677

In [36]:
## speed
mob_clean['speed'] = (mob_clean['ride_distance']/1000)  /  (mob_clean['ride_duration'] / 3600)

In [37]:
mob_clean.nlargest(10, ['speed'])

,orderid,bikeid,userid,start_time,start_location_x,start_location_y,end_time,end_location_x,end_location_y,track,ride_duration,ride_distance,speed
20417,471807,12256,2960,2016-08-04 09:20,121.362,31.258,2016-08-04 09:31,120.487,31.477,"121.357,31.242#121.357,31.243#121.358,31.243#1...",660.0,86570.665199,472.203628
97282,147841,213581,14958,2016-08-29 08:16,121.430,31.361,2016-08-29 08:42,120.486,31.477,"121.428,31.360#121.429,31.360#121.430,31.361#1...",1560.0,90500.981225,208.848418
16463,1272182,56406,2189,2016-08-27 17:41,121.432,31.250,2016-08-27 18:26,120.487,31.477,"121.420,31.299#121.420,31.300#121.421,31.298#1...",2700.0,93207.714416,124.276953
21201,399670,110519,2389,2016-08-10 16:14,121.449,31.304,2016-08-10 16:23,121.514,31.307,"121.445,31.322#121.446,31.320#121.446,31.321#1...",540.0,6184.389389,41.229263
37535,764490,126016,3066,2016-08-30 09:41,121.451,31.158,2016-08-30 09:43,121.438,31.155,"121.438,31.155#121.439,31.155#121.439,31.156#1...",120.0,1281.215413,38.436462
45978,575984,106162,13781,2016-08-21 10:13,121.494,31.215,2016-08-21 10:21,121.455,31.236,"121.458,31.228#121.459,31.226#121.459,31.227#1...",480.0,4382.316846,32.867376
36216,1071255,9133,6926,2016-08-15 18:04,121.373,31.210,2016-08-15 18:05,121.369,31.207,"121.369,31.208#121.370,31.208#121.371,31.208#1...",60.0,505.958478,30.357509
66719,1074356,181135,12018,2016-08-23 14:34,121.520,31.296,2016-08-23 14:35,121.518,31.292,"121.519,31.295#121.520,31.294#121.520,31.295#1...",60.0,483.675838,29.020550
47925,1108131,51231,5809,2016-08-15 18:15,121.440,31.294,2016-08-15 18:18,121.454,31.289,"121.450,31.289#121.450,31.290#121.451,31.289#1...",180.0,1441.788733,28.835775
31220,972182,113504,7876,2016-08-12 07:05,121.444,31.180,2016-08-12 07:06,121.443,31.184,"121.443,31.182#121.443,31.183#121.443,31.184#1...",60.0,454.839261,27.290356

In [38]:
## mobile speed not easy over 20km/h, should be removed
len(mob_clean[mob_clean.speed > 20])

42

In [41]:
## but, we should be remove time less < 2m

len(mob_clean[mob_clean.ride_duration < 120])

130

In [44]:
## distance should use more than 500m
len(mob_clean[mob_clean.ride_distance <= 500])

11547

In [51]:
mob_clean2 = mob_clean[mob_clean.ride_distance > 500]

In [53]:
mob_clean2 = mob_clean2[mob_clean2.ride_duration > 120]

In [55]:
mob_clean2 = mob_clean2[mob_clean2.speed < 20]

In [56]:
len(mob_clean2)

90792

In [57]:
mob_clean2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90792 entries, 0 to 102360
Data columns (total 13 columns):
orderid             90792 non-null int64
bikeid              90792 non-null int64
userid              90792 non-null int64
start_time          90792 non-null object
start_location_x    90792 non-null float64
start_location_y    90792 non-null float64
end_time            90792 non-null object
end_location_x      90792 non-null float64
end_location_y      90792 non-null float64
track               90792 non-null object
ride_duration       90792 non-null float64
ride_distance       90792 non-null float64
speed               90792 non-null float64
dtypes: float64(7), int64(3), object(3)
memory usage: 9.7+ MB

In [58]:
## Don't know how to use seperate map data, remove first

mob_clean2.drop('track', axis=1)

,orderid,bikeid,userid,start_time,start_location_x,start_location_y,end_time,end_location_x,end_location_y,ride_duration,ride_distance,speed
0,78387,158357,10080,2016-08-20 06:57,121.348,31.389,2016-08-20 07:04,121.357,31.388,420.0,861.505429,7.384332
1,891333,92776,6605,2016-08-29 19:09,121.508,31.279,2016-08-29 19:31,121.489,31.271,1320.0,2012.922642,5.489789
2,1106623,152045,8876,2016-08-13 16:17,121.383,31.254,2016-08-13 16:36,121.405,31.248,1140.0,2195.179561,6.932146
3,1389484,196259,10648,2016-08-23 21:34,121.484,31.320,2016-08-23 21:43,121.471,31.325,540.0,1354.242590,9.028284
4,188537,78208,11735,2016-08-16 07:32,121.407,31.292,2016-08-16 07:41,121.418,31.288,540.0,1135.935688,7.572905
5,537030,66346,10335,2016-08-07 21:00,121.488,31.224,2016-08-07 21:20,121.468,31.233,1200.0,2148.920234,6.446761
6,517706,99631,11258,2016-08-29 13:39,121.445,31.176,2016-08-29 13:54,121.447,31.192,900.0,1789.262790,7.157051
7,270836,63136,11361,2016-08-29 09:21,121.369,31.252,2016-08-29 13:43,121.376,31.233,15720.0,2215.036792,0.507260
9,76435,347335,8135,2016-08-30 12:49,121.467,31.320,2016-08-30 13:03,121.447,31.318,840.0,1912.818332,8.197793
10,903987,13745,3117,2016-08-09 19:51,121.514,31.307,2016-08-09 19:59,121.510,31.304,480.0,505.664777,3.792486
11,1749105,250190,8174,2016-08-26 17:57,121.385,31.166,2016-08-26 18:43,121.439,31.193,2760.0,5950.133845,7.761044
12,760441,274835,17177,2016-08-31 09:53,121.419,31.292,2016-08-31 10:04,121.442,31.297,660.0,2255.004388,12.300024
13,163153,129925,9763,2016-08-09 08:33,121.551,31.279,2016-08-09 08:40,121.558,31.272,420.0,1023.920492,8.776461
14,1718308,291555,9867,2016-08-24 16:32,121.528,31.309,2016-08-24 16:45,121.523,31.321,780.0,1416.357510,6.537035
15,113197,277976,1499,2016-08-31 06:51,121.413,31.358,2016-08-31 07:08,121.432,31.356,1020.0,1817.780466,6.415696
16,1660785,74378,3637,2016-08-06 22:30,121.590,31.243,2016-08-06 22:41,121.584,31.246,660.0,660.787396,3.604295
17,1796188,210920,4156,2016-08-24 22:52,121.483,31.278,2016-08-24 23:02,121.473,31.273,600.0,1101.042844,6.606257
19,974312,87103,4921,2016-08-08 17:31,121.437,31.294,2016-08-08 17:44,121.427,31.303,780.0,1379.947915,6.368990
20,1016344,319980,557,2016-08-29 20:20,121.466,31.185,2016-08-29 21:01,121.450,31.197,2460.0,2024.045560,2.962018
22,1013785,364751,14595,2016-08-30 12:17,121.388,31.268,2016-08-30 12:28,121.368,31.272,660.0,1952.178392,10.648246
23,420053,162491,13745,2016-08-20 14:25,121.432,31.180,2016-08-20 14:31,121.427,31.184,360.0,651.208980,6.512090
24,737601,58198,6349,2016-08-01 17:57,121.513,31.302,2016-08-01 18:19,121.541,31.311,1320.0,2842.154814,7.751331
25,1663013,9935,8929,2016-08-30 20:15,121.382,31.246,2016-08-30 20:22,121.380,31.251,420.0,587.584864,5.036442
26,399789,292393,10700,2016-08-24 05:49,121.364,31.248,2016-08-24 05:58,121.367,31.237,540.0,1255.955993,8.373040
27,1399630,44728,5944,2016-08-22 18:27,121.506,31.329,2016-08-22 18:33,121.501,31.335,360.0,818.927025,8.189270
28,773687,263024,15033,2016-08-24 07:45,121.464,31.193,2016-08-24 07:53,121.470,31.190,480.0,661.063529,4.957976
29,466460,240822,12012,2016-08-21 22:13,121.533,31.318,2016-08-21 22:42,121.502,31.309,1740.0,3110.328889,6.435163
30,770455,213900,1518,2016-08-25 17:26,121.506,31.148,2016-08-25 17:37,121.489,31.153,660.0,1710.622701,9.330669
31,498783,60965,6071,2016-08-01 14:10,121.403,31.163,2016-08-01 14:25,121.420,31.176,900.0,2169.249076,8.676996
32,696318,311989,111,2016-08-26 07:45,121.308,31.244,2016-08-26 07:53,121.319,31.241,480.0,1097.679456,8.232596
...,...,...,...,...,...,...,...,...,...,...,...,...
102330,152530,38007,3067,2016-08-07 10:37,121.427,31.165,2016-08-07 10:41,121.434,31.167,240.0,702.172086,10.532581
102331,752209,264648,5474,2016-08-19 11:10,121.349,31.259,2016-08-19 11:16,121.354,31.261,360.0,524.717383,5.247174
102332,1177538,94648,2319,2016-08-12 14:07,121.499,31.279,2016-08-12 14:11,121.502,31.275,240.0,528.311728,7.924676
102333,194189,71476,7647,2016-08-10 08:47,121.403,31.130,2016-08-10 08:55,121.412,31.124,480.0,1085.816527,8.143624
102334,1612820,129498,9547,2016-08-06 19:21,121.501,31.275,2016-08-06 20:12,121.546,31.289,3060.0,4550.871542,5.353967
102335,1676331,314831,15930,2016-08-28 20:23,121.460,31.328,2016-08-28 20:29,121.458,31.335,360.0,801.208997,8.012090
102336,734652,333917,3905,2016-08-31 09:41,121.295,31.271,2016-08-31 09:53,121.304,31.272,720.0,862.559143,4.312796
102337,947568,146806,9711,2016-08-27 14:47,121.495,31.170,2016-08-27 15:22,121.505,31.181,2100.0,1549.574961,2.656414
102338,34563,203064,3038,2016-08-25 11:50,121.551,31.279,2016-08-25 11:55,121.554,31.273,300.0,725.535140,8.706422
102339,375055,119804,6027,2016-08-01 11:27,121.532,31.315,2016-08-01 11:35,121.538,31.313,480.0,611.832697,4.588745
102340,172833,66527,10097,2016-08-15 07:12,121.525,31.317,2016-08-15 07:19,121.531,31.321,420.0,722.963687,6.196832
102341,405791,180713,5788,2016-08-20 14:01,121.405,31.235,2016-08-20 14:09,121.410,31.231,480.0,651.021712,4.882663
102342,998890,175676,508,2016-08-23 13:14,121.432,31.259,2016-08-23 13:28,121.453,31.270,840.0,2340.954438,10.032662
102343,893197,214737,9990,2016-08-25 18:31,121.541,31.318,2016-08-25 18:39,121.532,31.314,480.0,963.733597,7.228002
102344,1648715,11728,8836,2016-08-06 21:33,121.438,31.228,2016-08-06 21:40,121.430,31.234,420.0,1011.780824,8.672407
102345,48162,92143,3885,2016-08-08 00:19,121.436,31.320,2016-08-08 00:26,121.438,31.310,420.0,1128.064007,9.669120
102346,665032,6743,17715,2016-08-29 16:06,121.443,31.183,2016-08-29 16:08,121.441,31.178,120.0,587.629138,17.628874
102347,1191602,301472,4041,2016-08-23 17:37,121.507,31.249,2016-08-23 17:58,121.515,31.269,1260.0,2350.312086,6.715177
102348,1539900,185638,71,2016-08-31 18:09,121.422,31.171,2016-08-31 18:19,121.425,31.163,600.0,934.232117,5.605393
102349,1449488,349625,414,2016-08-27 19:39,121.451,31.279,2016-08-27 20:17,121.425,31.295,2280.0,3044.556231,4.807194
102350,1303672,80655,7520,2016-08-17 17:16,121.532,31.331,2016-08-17 17:22,121.531,31.323,360.0,894.616095,8.946161
102351,657156,59970,5497,2016-08-31 09:09,121.372,31.119,2016-08-31 09:23,121.375,31.107,840.0,1364.561258,5.848120
102353,1168582,322536,15738,2016-08-26 09:03,121.473,31.193,2016-08-26 09:10,121.471,31.202,420.0,1018.673872,8.731490
102354,182261,16353,2628,2016-08-03 10:05,121.498,31.288,2016-08-03 10:13,121.508,31.281,480.0,1228.359254,9.212694
102355,640008,329621,10791,2016-08-29 15:39,121.518,31.311,2016-08-29 15:48,121.523,31.322,540.0,1312.128896,8.747526
102356,1479550,214335,1423,2016-08-28 18:03,121.478,31.297,2016-08-28 18:09,121.481,31.304,360.0,828.911971,8.289120
102357,1478273,160487,3067,2016-08-14 20:22,121.320,31.238,2016-08-14 20:28,121.312,31.235,360.0,830.539983,8.305400
102358,367733,179530,12746,2016-08-27 09:54,121.391,31.307,2016-08-27 10:06,121.398,31.306,720.0,674.266443,3.371332
102359,64915,167419,837,2016-08-20 06:04,121.515,31.269,2016-08-20 06:10,121.510,31.272,360.0,580.602816,5.806028
102360,326987,63172,2547,2016-08-09 10:51,121.521,31.261,2016-08-09 11:01,121.518,31.274,600.0,1473.387032,8.840322

In [59]:
mob_clean2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90792 entries, 0 to 102360
Data columns (total 13 columns):
orderid             90792 non-null int64
bikeid              90792 non-null int64
userid              90792 non-null int64
start_time          90792 non-null object
start_location_x    90792 non-null float64
start_location_y    90792 non-null float64
end_time            90792 non-null object
end_location_x      90792 non-null float64
end_location_y      90792 non-null float64
track               90792 non-null object
ride_duration       90792 non-null float64
ride_distance       90792 non-null float64
speed               90792 non-null float64
dtypes: float64(7), int64(3), object(3)
memory usage: 9.7+ MB